src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule
	xmlns:error-handler-plugin="http://www.mulesoft.org/schema/mule/error-handler-plugin"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/error-handler-plugin http://www.mulesoft.org/schema/mule/error-handler-plugin/current/mule-error-handler-plugin.xsd">


	<flow
		name="getCustomersFlow"
		doc:id="6f327fe6-b84d-4550-86f1-9f13ef969528">
		<salesforce:query
			doc:name="Get Customers"
			doc:id="3eac1571-9059-4f98-bc3e-e319d2d08444"
			config-ref="salesforceConfig">
			<error-mapping targetType="APP:SALESFORCE_INTERNAL_SERVER_ERROR" />
			<reconnect />
			<salesforce:salesforce-query><![CDATA[SELECT Id,CustomerId__c,First_Name__c,Last_Name__c,Phone_Number__c,Email__c,Address__c 
FROM Customer__c WHERE First_Name__c= ':firstName' AND Last_Name__c= ':lastName']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/json
---
{
	"firstName": message.attributes.queryParams.'firstName',
	"lastName": message.attributes.queryParams.'lastName'
}]]]></salesforce:parameters>
		
</salesforce:query>
		<validation:is-not-null
			doc:name="Check if returned payload is not null"
			doc:id="af0ffcc2-11d0-440a-a671-edab8c1ca41f"
			config-ref="validationConfig"
			value="#[payload[0].CustomerId__c]"
			message='#["Get customer returned empty!"]'>
			<error-mapping
				sourceType="VALIDATION:NULL"
				targetType="APP:CUSTOMER_NOT_FOUND" />
		</validation:is-not-null>
		<ee:transform
			doc:name="Transform to JSON Array"
			doc:id="3e8dda58-9019-4794-a554-340e72d741a7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
payload orderBy($.CustomerId__c) map () -> {
	salesforceId: $.Id,
	customerId: $.CustomerId__c as Number {format: "0"} as String,
	firstName: capitalize($.First_Name__c),
	lastName: capitalize($.Last_Name__c),
	phoneNumber: $.Phone_Number__c,
	email: $.Email__c,
	address:{
		address1: substringBeforeLast(substringBeforeLast(substringBeforeLast($.Address__c, ","), ","), ","),
		city: substringAfterLast(substringBeforeLast(substringBeforeLast($.Address__c, ","), ","), ",")[1 to -1],
		zipCode: substringAfterLast(substringBeforeLast($.Address__c, ","), ",")[1 to -1],
		country: substringAfterLast($.Address__c, ",")[1 to -1]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	
	
	
</flow>
	<flow name="getCustomerByEmailFlow" doc:id="f667b106-dc9e-4775-9d15-52d33c5a0eee" >
		<salesforce:query doc:name="Get Customer By Email" doc:id="80be653d-e8a1-4838-b4ce-deebc10f1cd0" config-ref="salesforceConfig">
			<error-mapping targetType="APP:SALESFORCE_INTERNAL_SERVER_ERROR" />
			<reconnect />
			<salesforce:salesforce-query ><![CDATA[SELECT Id,CustomerId__c,First_Name__c,Last_Name__c,Phone_Number__c,Email__c,Address__c 
FROM Customer__c WHERE Email__c=':email']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[email: message.attributes.uriParams.'email' as String]]]></salesforce:parameters>
		</salesforce:query>
		<validation:is-not-null doc:name="Check if returned payload is not null" doc:id="7c52f81f-faab-466c-8eb6-c7bd6cc87e47" config-ref="validationConfig" value="#[payload[0].CustomerId__c]" message='#["Get customer returned empty!"]'>
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:CUSTOMER_NOT_FOUND" />
		</validation:is-not-null>
		<ee:transform doc:name="Transform to JSON Object" doc:id="499c4c17-9a61-45bc-818b-32a5d08918a7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json	
---
{(payload map () -> {
	salesforceId: $.Id,
	customerId: $.CustomerId__c as Number {format: "0"} as String,
	firstName: capitalize($.First_Name__c),
	lastName: capitalize($.Last_Name__c),
	phoneNumber: $.Phone_Number__c,
	email: $.Email__c,
	address:{
		address1: substringBeforeLast(substringBeforeLast(substringBeforeLast($.Address__c, ","), ","), ","),
		city: substringAfterLast(substringBeforeLast(substringBeforeLast($.Address__c, ","), ","), ",")[1 to -1],
		zipCode: substringAfterLast(substringBeforeLast($.Address__c, ","), ",")[1 to -1],
		country: substringAfterLast($.Address__c, ",")[1 to -1]
	}
})}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>	
	
	
	
	<flow name="postCustomersFlow" doc:id="bd4d9711-953e-4932-921b-1b4bd2bdd6e2" >
		<ee:transform doc:name="Transform to JAVA Array" doc:id="2234c0df-5f73-4228-a0af-1e7e10ffca15">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	"First_Name__c": message.payload.firstName,
	"Last_Name__c": message.payload.lastName,
	"Phone_Number__c": message.payload.phoneNumber,
	"Email__c": message.payload.email,
	"Address__c": message.payload.address.address1 as String ++ ", " ++ message.payload.address.city as String ++ ", " ++ message.payload.address.zipCode as String ++ ", " ++ message.payload.address.country as String
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Customer__c" doc:name="Create new record" doc:id="244165fe-074e-49ec-a0eb-e4f536f40847" config-ref="salesforceConfig" target="creationResult">
			<error-mapping targetType="APP:SERVER" />
			<reconnect />
		</salesforce:create>
		<validation:is-not-null doc:name="Check if returned payload is not null" doc:id="159cd2a5-e773-4a69-a8f2-d4efc445069d" config-ref="validationConfig" value="#[vars.creationResult.items[0].id]" message='#["Customer not created!"]'>
			<error-mapping sourceType="VALIDATION:NULL" targetType="APP:SALESFORCE_QUERY" />
		</validation:is-not-null>
		<ee:transform doc:name="Transform to JSON Object" doc:id="0a2af384-85cd-4db4-801f-20a6fd754e1e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"salesforceId": vars.creationResult.items[0].id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="outboundHeaders"><![CDATA[{
	"Location": "/customers/" ++ vars.creationResult.items[0].id as String
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7d64b494-ef40-4778-9e52-3381ff683a81" type="APP:SALESFORCE_QUERY">
				<choice doc:name="Choice" doc:id="d8499b33-dbe9-4fd2-8e37-35f2cdb32eee" >
					<when expression='#[vars.creationResult.items[0].statusCode == "DUPLICATES_DETECTED"]'>
						<raise-error doc:name="APP:SALESFORCE_CONFLICT" doc:id="257b9793-5969-483d-81cd-b09dbe0fccab" type="APP:SALESFORCE_CONFLICT" description="#[vars.creationResult.items[0].message]"/>
					</when>
					<otherwise >
						<raise-error doc:name="APP:SALESFORCE_INTERNAL_SERVER_ERROR" doc:id="40cb2dcf-e509-42f8-8596-1bcdc8d5fe9a" type="APP:SALESFORCE_INTERNAL_SERVER_ERROR" description="#[error.description]"/>
					</otherwise>
				</choice>
			</on-error-propagate>
		</error-handler>
	</flow>

</mule>
